# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
env/
*.egg-info/

# PyCharm
.idea/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Linux system files
*.swp
